.main-box{
    // border: 2px solid red;
    display: flex;
    padding: 0rem 2rem;

    .main-content{
        // border: 2px solid green;
        margin: auto;
        width: 95%;
        height: 90vh;
        display: flex;
        padding: 0.5rem 0;
        justify-content: space-evenly;

        .product-details{
            // border: 2px solid purple;
            border: 1.8px solid #813ef7;
            // border-radius: 2rem;
            padding: 0 0.5rem;
            width: 65%;

            .product-filters{
                border-bottom: 1.8px solid #813ef7;
                // padding: 0 1rem;
                margin: 0 0 0.5rem 0;
                height: 7%;
                display: flex;
                align-items: center;
            }
            .product-description{
                // border: 2px solid yellow;
                height: calc(100% - 9.5%) ;
            }
        }

        .action-area{
            border: 1.8px solid #813ef7;
            width: 30%;
        }
    }
}